.App {
  text-align: center;
}

.table-component .light-green {
  color: #A3C853;
}

.table-component .green {
  color: #A3C853
}

.table-component .yellow {
  color: #adff2f;
}

.table-component .orange {
  color: #F29C33;
}

.table-component .red {
  color: #E93F33;
}

.table-component .dark-red {
  color: #AF2D24;
}